body {
    margin: 0;
    padding: 0%;

}



.container {
    display: grid;
    grid-template-columns:repeat(1, auto);
   grid-template-rows:repeat(3, auto);
   gap: 20px;
}

 .grid-item {
    display: grid;
    border: 2px solid #c4c4c4; 
    justify-items: center;
    align-items: center;
    
}

.star {
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}


.main {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4,auto );
    gap: 20px;
}


.frame{
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);

}

.car{
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);

}

.shop{
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);


}

.message{
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);


}

.social-media div{
    display: inline-block;
    width: 90px;
    height: 90px;
    background-color: blueviolet;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    
    

}
.menu {
    display: grid;
    grid-template-columns: repeat(2, 180px);
    grid-template-rows: repeat(1, auto);
}

.logo{
    width: 50px;
    height: 50px;
    background-color: rgba(54, 15, 231, 0.672);
    clip-path: circle(50% at 50% 50%);
    justify-self: start;

}

.hamburger-menu{
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    justify-self: end;
    
}

@media (min-width: 600px) and (max-width: 1024px) {
    body {
        background-color: blueviolet;
    }

.container {
    width: 100%;
}



.hamburger-menu {
    display: none;
}


}